@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Inter:wght@100;200;300;400;500;700&family=Lora:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .section-container {
    padding: 56px 20px;

    @media only screen and (min-width: 768px) {
      padding: 64px 32px;
    }

    @media only screen and (min-width: 1280px) {
      max-width: 1440px;
      margin: 0 auto;
      padding: 104px;
    }
  }

  .swiper-pagination-inactive {
    color: rgba(255, 255, 255, 0.2);
  }

  .swiper-nav-list-item::before {
    content: "\25C6";
    font-size: 10px;
  }

  .hero-bg {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/assets/images/hero/hero_mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/hero/hero_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .hero-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/hero/hero_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/hero/hero_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .hero-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/hero/hero_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/hero/hero_desktop@2x.jpg);
      }
    }
  }

  .about-bg {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/assets/images/about/about_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/about/about_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .about-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/about/about_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/about/about_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .about-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/about/about_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/about/about_desktop@2x.jpg);
      }
    }
  }

  .services-bg {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/assets/images/services/background/slide_1_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_1_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .services-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_1_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_1_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .services-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_1_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_1_desktop@2x.jpg);
      }
    }
  }
}
