@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Inter:wght@100;200;300;400;500;700&family=Lora:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .section-container {
    padding: 56px 20px;

    @media only screen and (min-width: 768px) {
      padding: 64px 32px;
    }

    @media only screen and (min-width: 1280px) {
      max-width: 1440px;
      margin: 0 auto;
      padding: 104px;
    }
  }

  .link::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: width cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  }

  .link:hover::after {
    width: 100%;
  }

  .swiper-pagination-inactive {
    color: rgba(255, 255, 255, 0.2);
  }

  .swiper-nav-list-item::before {
    content: "\25C6";
    font-size: 10px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* ============ HERO ============ */

  .hero-bg {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/assets/images/hero/hero_mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/hero/hero_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .hero-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/hero/hero_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/hero/hero_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .hero-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/hero/hero_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/hero/hero_desktop@2x.jpg);
      }
    }
  }

  /* ============ ABOUT ============ */

  .about-bg {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/assets/images/about/about_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/about/about_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .about-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/about/about_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/about/about_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .about-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/about/about_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/about/about_desktop@2x.jpg);
      }
    }
  }

  /* ============ SERVICES ============ */

  .services-bg-0 {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/assets/images/services/background/slide_1_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_1_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .services-bg-0 {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_1_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_1_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .services-bg-0 {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_1_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_1_desktop@2x.jpg);
      }
    }
  }

  .services-bg-1 {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/assets/images/services/background/slide_2_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_2_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .services-bg-1 {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_2_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_2_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .services-bg-1 {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_2_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_2_desktop@2x.jpg);
      }
    }
  }

  .services-bg-2 {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/assets/images/services/background/slide_3_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_3_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .services-bg-2 {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_3_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_3_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .services-bg-2 {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_3_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_3_desktop@2x.jpg);
      }
    }
  }

  .services-bg-3 {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/assets/images/services/background/slide_4_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_4_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .services-bg-3 {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_4_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_4_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .services-bg-3 {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_4_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_4_desktop@2x.jpg);
      }
    }
  }

  .services-bg-4 {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/assets/images/services/background/slide_5_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_5_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .services-bg-4 {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_5_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_5_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .services-bg-4 {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url(/assets/images/services/background/slide_5_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
          url(/assets/images/services/background/slide_5_desktop@2x.jpg);
      }
    }
  }

  /* ============ CAREER ============ */

  .career-bg {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      url(/assets/images/career/career_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url(/assets/images/career/career_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .career-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url(/assets/images/career/career_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
          url(/assets/images/career/career_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .career-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url(/assets/images/career/career_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
          url(/assets/images/career/career_desktop@2x.jpg);
      }
    }
  }

  /* ============ GALLERY ============ */

  .gallery-bg {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      url(/assets/images/gallery/background/gallery_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url(/assets/images/gallery/background/gallery_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .gallery-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url(/assets/images/gallery/background/gallery_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
          url(/assets/images/gallery/background/gallery_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .gallery-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url(/assets/images/gallery/background/gallery_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
          url(/assets/images/gallery/background/gallery_desktop@2x.jpg);
      }
    }
  }

  /* ============ CONTACTS ============ */

  .contacts-bg {
    background-image: linear-gradient(
        180deg,
        #0018268f 0%,
        rgba(0, 37, 49, 0) 25%
      ),
      linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
      linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      url(/assets/images/contacts/contacts_mobile@1x.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url(/assets/images/contacts/contacts_mobile@2x.jpg);
    }
  }

  @media only screen and (min-width: 768px) {
    .contacts-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url(/assets/images/contacts/contacts_tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
          url(/assets/images/contacts/contacts_tablet@2x.jpg);
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .contacts-bg {
      background-image: linear-gradient(
          180deg,
          #0018268f 0%,
          rgba(0, 37, 49, 0) 25%
        ),
        linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url(/assets/images/contacts/contacts_desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            180deg,
            #0018268f 0%,
            rgba(0, 37, 49, 0) 25%
          ),
          linear-gradient(360deg, #0018268f 0%, rgba(0, 37, 49, 0) 25%),
          linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
          url(/assets/images/contacts/contacts_desktop@2x.jpg);
      }
    }
  }
}
